.about{
  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: 1fr;
  }
  
.about>article>p{
  text-align: left;
  }
 
  
.about > article> h2 {
    margin: 0.5em;
    font-size:1.5em;
    text-align: left;
  }

  .about>article{
   padding: 1% 5%;
  }

 .about>article >p> a{
color: var(--main--href);
font-size: 19px;
font-weight: bold;
text-decoration: none;

animation-duration: 5s;
animation-name: slidein;
animation-iteration-count: infinite;
 }