.experience{

  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: 5fr;
 
  }
  
.experience>article>h2{
    margin: 0.5em;
    font-size:1.5em;
    text-align: center;
  }

.experience>article>p{
    margin: 0.5em;
    font-size:1em;

  }

.experience>article>p>a{
    color: #800080;
    font-size: 1.2em;
    /* effect */
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }
.experience>article{
    padding: 1.5em;
  }