footer{

  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: 1fr;
}

footer > p{
  text-align: center;
  font-size: 1em;
  margin: 0;
  padding: 0.5em;
}

footer > p + p{
  font-size: 0.7em;
}

footer > h2{
  font-size: 0.8em;
}

footer>ul{
  padding: 1%;
  margin: 0;
  text-align: center;
  font-size: 2em;
}

footer>ul>li{
  list-style-type:none;
  display: inline-block;
  
}

footer>ul>li>a{
  color:var(--main--footer);
}

footer>ul>li>a:hover{
  color: var(--main--href);
}

.mailto{
  text-decoration: none;
  color:var(--main--footer);
};

.mailto:hover{
  color: var(--main--href);
}