.tasks{
  background-color: var(--main-color);
}
.tasks>ul{
  margin: 0;
  padding-inline-start: 0;  /* Убран отступ у Ul */
  padding: 5%;
  display: grid;
  grid-template-columns:5fr 5fr 5fr 5fr;
  grid-template-rows: 1fr;
  grid-column-gap:10px;
  grid-row-gap:10px;
}

.tasks>ul>li{
  list-style-type:none;
  text-align: center;
  grid-auto-flow: column;

  
}

.tasks>ul>li>a{
  color: var(--main-text);

}
