@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import 'css/header.css' screen;
@import 'css/portfolio.css' screen;
@import 'css/tasks.css' screen;
@import 'css/footer.css' screen;
@import 'css/skils.css' screen;
@import 'css/experience.css' screen;
@import 'css/slider.css' screen;
@import 'css/about.css' screen;

@import 'css/media.css' screen;



*{
  font-family: 'Comfortaa', cursive;
  scroll-behavior: smooth;
 
}

body{
  background-color: var(--main-color);
  display: grid;
  grid-row-gap:2%;
}
@media screen and (min-width: 1240px)  {
 
}

:root{
  --bg-color-one-gradient:rgba(255,255,255, 0.1);
  --main-color: rgba(0, 0, 0, 0.7);
  --main-text:white;
  --main--block:white;
  --main--footer:white;
  --main--href:#800080;
}

.skills, .tasks, .experience, .about, footer, header{
  background:linear-gradient(to right, var(--bg-color-one-gradient), var( --main-color));
  color:var(--main-text);
  border-radius: 5px;
}