//color
$tins-black-color: #191919;
$grey-color: rgb(244, 247, 250);
$ubuntu-red-color: #DD4814;
$css-blue-color: #3c3e57;
$shadow-black-color: rgba(0, 0, 0, 0.1);
$white-background-color: #fafafa;
$white-color: #ffff;
$blue-ph-color: #151F4F;
$one-figma-color: #734ab9;
$js-color: #F58233;
$react-color: #222222;
$react-color-text: #61dafb;

//wrappers
$mobile: 320px;
$tablet: 740px;
$desktop: 980px;
$wide: 1300px;