//color
$tins-black-color: #191919;
$white-background-color: #fafafa;
$white-color: #ffff;
$color-cv-gray-bg: #434343;
$color-cv-white: #F8F8F8;
$color-cv-yellow: #FFD166;
$color-black-border: #333030;
$color-gray-bg: #D9D9D9;

//wrappers
$mobile: 320px;
$tablet: 740px;
$desktop: 980px;
$wide: 1300px;
