@import "reimport";

$wrapper: rem(1200px);

header, footer, .container {
  margin: 0 auto;
  padding: rem(0 2px);
  max-width: $wrapper;
  color: $tins-black-color;
  @include mq($from: desktop) {
    padding: rem(0 100px);
  }
}

