@import "reimport";

.cv {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    color: $color-cv-gray-bg;

    @include mq($from: desktop) {
        flex-direction: row;
    }
}

img {
    width: 100%;
    display: block;
}

.box {
    padding: 20px;
}

.box.first {
    color: $color-cv-white;
    background-color: $color-cv-gray-bg;

    @include mq($from: desktop) {
        max-width: 335px;
    }

    .general-info {
        img,
        .name {
            width: 335px;
            margin: 0 auto;
        }

        img {
            width: 335px;
            height: 388px;
            margin: 0 auto;
        }

        .name {
            @include mq($from: desktop) {
                display: none;
            }
        }
    }

    .text {
        margin-bottom: 50px;

        h3 {
            width: 100%;
            font-size: 24px;
            font-weight: 600;
            margin: 0;
            padding-bottom: 12px;
            border-bottom: 2px solid $color-cv-yellow;

            @include mq($from: desktop) {
                font-size: 25px;
                font-weight: 700;
            }
        }

        p,
        a,
        span {
            margin: 16px 0;
            font-size: 15px;
            font-weight: 400;
        }
    }

    .text.icons {
        .content {
            margin-top: 19px;
        }

        a,
        span {
            display: flex;
            margin-bottom: 24px;
            align-items: center;
        }

        img {
            width: 30px;
            height: 30px;
            padding-right: 17px;
        }
    }
}

.general-info {
    margin-bottom: 14px;

    .name {
        color: $color-cv-gray-bg;
        background-color: $color-cv-yellow;
        text-align: center;

        h2 {
            margin-top: 0;
            margin-bottom: 1px;
            font-size: 25px;
            font-weight: 600;
        }

        p {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.box.second {
    @include mq($from: desktop) {
        padding-left: 0;
    }

    .general-info {
        display: none;
        width: 100%;
        box-shadow: 137px 0 0 $color-cv-yellow;

        .name {
            text-align: left;
            padding: 15px 0 20px 21px;
        }

        @include mq($from: desktop) {
            display: block;

            h2 {
                font-size: 40px;
                font-weight: 600;
            }

            p {
                font-size: 30px;
                font-weight: 500;
            }
        }
    }

    .title {
        margin-top: 0;
        margin-bottom: 8px;

        @include mq($from: desktop) {
            font-size: 20px;
            font-weight: 700;
        }
    }

    .span {
        margin-top: 0;
        margin-bottom: 12px;

        @include mq($from: desktop) {
            font-size: 18px;
            font-weight: 600;
        }
    }

    > .title {
        margin-bottom: 24px;
        padding-bottom: 12px;
        border-bottom: 2px solid $color-black-border;
        font-size: 20px;
        font-weight: 600;

        @include mq($from: desktop) {
            max-width: 335px;
            margin-left: 50px;
            font-size: 25px;
        }
    }

    .item {
        @include mq($from: desktop) {
            padding-left: 50px;
        }
    }

    h3 {
        font-size: 18px;
        font-weight: 700;
    }

    h3 + span,
    ul + span {
        font-size: 16px;
        font-weight: 600;
    }

    li {
        font-size: 15px;
        font-weight: 400;
    }
}

.skills {
    > .title {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
    }

    .item {
        display: flex;

        .title {
            background: none;
            min-width: 100px;
            font-size: 15px;
            font-weight: 500;
        }

        .titleSkills {
            margin-bottom: 5px;
        }

        .line {
            width: 50%;
            height: 13px;
            margin: 2px 10px;
            border: 1px solid $tins-black-color;
            border-radius: 0;
            background-color: $color-gray-bg;
        }

        span {
            display: block;
            height: 100%;
            background-color: $color-cv-gray-bg
        }
    }
}

@media print {
    .box.second .general-info {
        display: block;

        .name {
            width: 335px;
            margin: 0 auto;
            .title, .content {
                margin: 0 auto;
                text-align: center;
            }
        }
    }

    .box.first .general-info {
        display: none;
    }

    .cv {
        display: flex;
        flex-direction: column-reverse;
    }

    .box.first {
        color: black;
        background: none;
    }

    .action-box {
        display: none;
    }

    .skills {
        display: none;
    }

    .general-info img {
        display: none;
    }
}
