@import "reimport";
footer {
  border-top: rem(2px) solid $tins-black-color;
  border-bottom: rem(2px) solid $tins-black-color;

  .contacts {
    .git-lub {
      $url: "../img/ico/gitlab.png";
      @include ico-plaster(20px, $url);
    }
    .git-hub {
      $url: "../img/ico/github.png";
      @include ico-plaster(20px, $url);
    }
    .stackblitz {
      $url: "../img/ico/stackblitz.png";
      @include ico-plaster(20px, $url);
    }
    .codepen {
      $url: "../img/ico/codepen.png";
      @include ico-plaster(20px, $url);
    }
    .telegram {
      $url: "../img/ico/telegram.png";
      @include ico-plaster(22px, $url);
    }
    .viber {
      $url: "../img/ico/viber.png";
      @include ico-plaster(20px, $url);
    }
    .skype {
      $url: "../img/ico/skypelogo.png";
      @include ico-plaster(20px, $url);
    }
    .linked {
      $url: "../img/ico/linkedIn.png";
      @include ico-plaster(20px, $url);
    }
    .facebook {
      $url: "../img/ico/facebook.png";
      @include ico-plaster(20px, $url);
    }
    .vk {
      $url: "../img/ico/vk.png";
      @include ico-plaster(20px, $url);
    }
    .phone {
      $url: "../img/ico/tel-ico.png";
      @include ico-plaster(20px, $url);
    }
    .email {
      $url: "../img/ico/email.png";
      @include ico-plaster(20px, $url);
    }
    h3.mobile-visible {
      margin: rem(11px 0 0 0);
      padding-right: rem(5px);
      font-size: rem(16px);
      text-align: center;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
    &__ul {
      &--box-items {
        margin-top: rem(11px);
        margin-bottom: rem(11px);
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include mq($from: desktop) {
          margin: 0;
          padding-bottom: rem(10px);
          flex-direction: row;
          justify-content: space-between;
        }
        &__label {
          display: none;
          padding-right: rem(20px);
          font-size: rem(20px);
          font-weight: normal;
          @include mq($from: desktop) {
            display: block;
          }
        }
        &__item {
          ul {
            display: flex;
            @include mq($from: desktop) {
              display: block;
            }
            li {
              position: relative;
              width: rem(30px);
              @include mq($from: desktop) {
                width: rem(140px);
              }
              a {
                padding-left: rem(30px);
                border: none;
                font-size: 0;
                text-decoration: none;
                &::before {
                  @extend .vertical-centered-absolute;
                  left: 0;
                }
                @include mq($from: desktop) {
                  font-size: rem(18px);
                }
              }
            }
          }
        }
      }
    }
  }
}