.header {
  .header-box {
    display: flex;
    &__persona {
      &--h1 {
        &__span {
          display: block;
          font-size: rem(12px);
        }
      }
      &--h2 {
        font-size: 20px;
      }

    }
  }
}

