@import "reimport";
.header {
  margin-top: 0;
  padding-bottom: rem(20px);
  padding-top: 0;
  @include mq($from: desktop) {
    margin-top: rem(20px);
    padding-top: rem(60px);
  }
  .header-box {
    display: flex;
    flex-wrap: wrap;
    .mobile-menu {
      position: relative;
      width: 100%;
      height: rem(50px);
      margin-top: rem(20px);
      color: white;
      background-color: $tins-black-color;
      z-index: 1;
      box-shadow: rem(10px 0 0 0) $tins-black-color, rem(-10px 0 0 0) $tins-black-color;
      span {
        margin: auto rem(45px);
        cursor: pointer;
      }
      &__burger {
        position: absolute;
        padding: rem(4px);
        border: 1px solid white;
        cursor: pointer;
        @extend .vertical-centered-absolute;
        &--line {
          width: rem(25px);
          height: rem(2px);
          margin: rem(3px 0);
          background-color: white;
        }
      }
    }
    &__text {
      margin: rem(0 10px);
    }
    &__persona {
      width: 100%;
      @include mq($from: wide) {
        width: 35%;
      }
      display: flex;
      &--img {
        width: 30%;
        max-width: rem(50px);
        max-height: 50px;
        margin: auto 0;
        display: flex;
        img {
          width: 100%;
        }
      }
      &__text {
        width: 70%;
      }
      &--h1 {
        margin-bottom: rem(3px);
        margin-top: 0;
        font-size: rem(31px);
        @include mq($from: desktop) {
          font-size: rem(33px);
        }
        &__span {
          //display: block;
          display: none;
          font-size: rem(18px);
          letter-spacing: rem(0.8px);
        }
      }
      &--h2 {
        margin: 0;
        font-size: rem(20px);
        letter-spacing: 1.6px;
        @include mq($from: desktop) {
          letter-spacing: rem(2.1px);
        }
      }
    }
    &__nav-box {
      width: 100%;
      margin-top: 0;
      @include mq($from: desktop) {
        margin-top: rem(20px);
        padding-bottom: rem(7px);
        border-bottom: 2px solid $tins-black-color;
      }
      @include mq($from: wide) {
        width: 65%;
        padding-bottom: rem(15px);
      }
      &--ul {
        display: none;
        height: 100%;
        margin: 0;
        padding: rem(10px 0);
        flex-direction: column;
        list-style: none;
        align-items: normal;
        @include mq($from: desktop) {
          display: flex;
          transform: translateY(0);
          padding: rem(0 30px);
          border-top: 2px solid $tins-black-color;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
        }
        @include mq($from: wide) {
          border-top: none;
        }
        &__li {
          position: relative;
          min-width: rem(150px);
          padding: rem(10px 20px 10px 50px);
          @include mq($from: desktop) {
            border: none;
            padding: rem(5px);
          }
          a {
            font-size: rem(20px);
            color: $tins-black-color;
            @include mq($from: desktop) {
              padding: rem(0 20px 11px 20px);
            }
            @include mq($from: wide) {
              padding: rem(0 20px 21px 20px);
            }
            &:active {
            }
            &:hover {
              font-weight: bold;
              color: $ubuntu-red-color;
              @include mq($from: desktop) {
                border-bottom: 2px solid $ubuntu-red-color;
              }
            }
            &::before {
              left: 0;
              padding: 2px;
              background-repeat: no-repeat;
              background-position: center;
              //border: 1px solid black;
              @extend .vertical-centered-absolute;
              @include mq($from: desktop) {
                display: none;
              }
            }
          }
          a.about {
            $url: "../img/ico/about.png";
            @include ico-plaster(30px, $url);
            &::before {
              background-size: rem(25px 25px);
            }
          }
          a.skills {
            $url: "../img/ico/skills.png";
            @include ico-plaster(30px, $url);
          }
          a.contacts {
            $url: "../img/ico/contact.png";
            @include ico-plaster(30px, $url);
          }
          a.experience {
            $url: "../img/ico/Experience.png";
            @include ico-plaster(30px, $url);
            &::before {
              background-size: rem(25px 25px);
            }
          }
        }
        $bottom-height: rem(3px);
        &__li.down-div {
          height: rem(5px);
          position: relative;
          padding-bottom: 0;
          border-bottom: $bottom-height solid $tins-black-color;
          @extend .mobile-visible;
          &::before {
            position: absolute;
            width: rem(10px);
            height: $bottom-height;
            border-bottom: $bottom-height solid $tins-black-color;
            left: rem(-10px);
            bottom: -$bottom-height;
            content: "";
            @extend .mobile-visible;
          }
          &:after {
            position: absolute;
            width: rem(10px);
            height: $bottom-height;
            border-bottom: $bottom-height solid $tins-black-color;
            right: rem(-10px);
            bottom: -$bottom-height;
            content: "";
            @extend .mobile-visible;
          }
        }
      }
    }
  }
  .header-box.maxDown {
    .mobile-menu {
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      z-index: 3;
      @include mq($until: tablet) {
        min-width: 72.5%;
      }
    }
    .header-box__nav-box {
      position: fixed;
      z-index: 2;
      background-color: white;
      transform: translateY(-20px);
      top: 0;
      left: 0;
      padding-bottom: rem(5px);
    }
  }
}

