@import "reimport";
.skils-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: rem(70px);
    padding: 15px 0;
    border: 2px solid $grey-color;
    cursor: pointer;
    background-color: white;
    picture {
      img {
        width: rem(50px);
        height: rem(50px);
      }
    }
    @include mq($from: desktop) {
      width: rem(104px);
    }
    &:hover {
      border-radius: 5px;
      transform: scale(1.1, 1.1);
      z-index: 1;
      box-shadow: rem(0px 0px 5px 1px) $shadow-black-color;
    }
    p {
      font-size: rem(13px);
      margin-bottom: 0;
      @include mq($from: desktop) {
        font-size: rem(16px);
      }
    }
  }
}