@import "reimport";
.box__slick-slider {
  position: relative;
  margin-bottom: rem(20px);
  .slick-arrow {
    &::before {
      color: $tins-black-color;
      z-index: 1;
      @include mq($until: desktop) {
        display: none;
      }
    }
  }
  .slides {
    height: rem(266px);
    background-repeat: no-repeat;
    background-position: left;
    @include mq($from: desktop) {
      background-position: center;
      height: rem(300px);
    }
  }
  .slick-slider__item {
    h2 {
      margin-top: rem(30px);
      margin-left: rem(10px);
      font-size: rem(28px);
      background-size: rem(1300px 300px);
      @include mq($from: desktop) {
        margin-left: rem(50px);
        margin-top: rem(80px);
      }
      span {
        display: block;
        margin-top: rem(15px);
        margin-left: 0;
        font-size: rem(22px);
        @include mq($from: desktop) {
          margin-left: rem(20px);
        }
      }
    }
    p {
      margin: rem(17px 10px);
      font-size: rem(20px);
      @include mq($from: desktop) {
        margin: rem(17px 50% 17px 90px);
      }
    }
  }
  @mixin slide-img($url:"../img/banners/505slider.jpg", $spanColor:$tins-black-color, $hColor:$tins-black-color) {
    @extend .slides;
    background-image: url($url);
    h2 {
      color: $hColor;
    }
    span {
      color: $spanColor;
    }
  }
  .slick-slider__item.magento {
    $url: "../img/banners/magento2.jpg";
    @include slide-img($url, white);
  }
  .slick-slider__item.prestashop {
    $url: "../img/banners/presto.jpg";
    @include slide-img($url, white);
  }
  .slick-slider__item.html5 {
    $url: "../img/banners/html5.jpg";
    @include slide-img($url, white);
  }
  .slick-slider__item.css {
    $url: "../img/banners/css3.jpg";
    @include slide-img($url, white, $css-blue-color);
    p {
      color: $css-blue-color;
    }
  }
  .slick-slider__item.sass {
    $url: "../img/banners/scss.jpg";
    @include slide-img($url, white);
  }
  .slick-slider__item.javascript {
    $url: "../img/banners/js.jpg";
    @include slide-img($url, white);
  }
  .slick-slider__item.jquery {
    $url: "../img/banners/jquery.jpg";
    @include slide-img($url, white);
  }
  .slick-slider__item.vue {
    $url: "../img/banners/vue.jpg";
    @include slide-img($url, white);
  }
  .slick-slider__item.less {
    $url: "../img/banners/less.jpg";
    @include slide-img($url, white);
  }
  .slick-slider__item.flex-box {
    $url: "../img/banners/flexbox.jpg";
    @include slide-img($url, white);
  }
  .slick-slider__item.grid {
    $url: "../img/banners/grid.jpg";
    @include slide-img($url, white);
  }




  //Доделать сладеры
  .slick-slider__item.gulp {
    $url: "../img/banners/grid.jpg";
    @include slide-img();
  }
  .slick-slider__item.grunt {
    $url: "../img/banners/grid.jpg";
    @include slide-img();
  }
  .slick-slider__item.webpack {
    $url: "../img/banners/grid.jpg";
    @include slide-img();
  }

  .slick-slider__item.compass {
    $url: "../img/banners/grid.jpg";
    @include slide-img();
  }







}