@import "reimport";
.box__project-slider {
  .slick-slider {
    .slick-slide {
      margin-top: 0;
      @include mq($from: desktop) {
        margin-top: rem(30px);
      }
    }
    &__item {
      &--img {

        @include mq($from: desktop) {
        }
        picture img {
          width: 100%;
          margin: rem(20px) auto;
          min-height: rem(250px);
          @include mq($from: desktop) {
            width: 90%;
          }
        }
      }
      &--text {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding-bottom: rem(25px);

        h3 {
          min-height: rem(20px);
          padding: rem(0 15px);
          font-size: rem(16px);
        }
        p {
          padding: rem(0 15px);
          min-height: rem(60px);
          font-size: rem(14px);
        }

        @include mq($from: tablet) {
          h3 {
            min-height: rem(55px);
            padding: rem(0 15px);
            font-size: rem(16px);
          }
          p {
            padding: rem(0 15px);
            min-height: rem(146px);
            font-size: rem(14px);
          }
        }

        &--a {
          display: none;
          position: absolute;
          bottom: rem(10px);
          right: rem(20px);
          @include mq($from: mobile) {
            display: block;
          }
          @include mq($from: tablet) {
            display: none;
          }
          @include mq($from: desktop) {
            display: none;
          }

        }

        @include mq($from: desktop) {
          width: 60%;
        }
        @include mq($from: tablet) {
          width: 100%;
        }
      }
    }
    .slick-dots {
      display: none !important;
    }
  }
  .slick-slide:not(.slick-center) {
    margin-top: rem(20px);
  }

  .slick-slide.slick-center {
    .slick-slider__item {
      border: 3px solid $grey-color;
      -moz-box-sizing: border-box; /* Для Firefox */
      -webkit-box-sizing: border-box; /* Для Safari и Chrome */
      box-sizing: border-box; /* Для IE и Opera */
      &--text {
        &--a {

        display: block;

        }
      }
    }
    background-color: $white-color;
    picture img {
      height: rem(200px);
    }
  }



}