@font-face {
  font-family: 'Ubuntu';
  src: url('../font/Ubuntu-Bold.woff2') format('woff2'),
  url('../font/Ubuntu-Bold.woff') format('woff')
  //,url('../font/Ubuntu-Bold.ttf') format('truetype')
;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../font/Ubuntu-Medium.woff2') format('woff2'),
  url('../font/Ubuntu-Medium.woff') format('woff')
  //,url('../font/Ubuntu-Medium.ttf') format('truetype')
;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../font/Ubuntu-Light.woff2') format('woff2'),
  url('../font/Ubuntu-Light.woff') format('woff')
  //,url('../font/Ubuntu-Light.ttf') format('truetype')
;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../font/Ubuntu-Regular.woff2') format('woff2'),
  url('../font/Ubuntu-Regular.woff') format('woff')
  //,url('../font/Ubuntu-Regular.ttf') format('truetype')
;
  font-weight: normal;
  font-style: normal;
}

$base-font: 'Ubuntu', sans-serif;

body {
  font-family: $base-font;
}
