/**
 * Montserrat
 */
@font-face {
    font-family: 'Montserrat';
    src:    url('../font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src:    url('../font/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: Montserrat;
}